Author: Martin Loza
Date: 23/12/15

In this workflow I want to explore the KR normalization for HiC data. 
I don't have experience with this kind of normalization so I don't know what to expect. At the end I would like to compare the normalized bins across cell types

In [9]:
#let's set global variables here
import cooler as cl

date = 231215
in_dir = "/mnt/c/Users/Marti/Documents/Projects/HK_Interactions/Data/HiC/SRA/"

In [10]:
# Specify the path to the mcool file
mcool_file = 'GM12878-HindIII-allReps-filtered.mcool'

#set resolution
res = 1000000

# Load the mcool file with a given resolution
cool = cl.Cooler( in_dir + mcool_file + "::resolutions/" + str(res))

In [11]:
#explore the bins with ICE normalization
cool.bins()[:10]

  chrom    start       end    weight
0  chr1        0   1000000  0.002867
1  chr1  1000000   2000000  0.004237
2  chr1  2000000   3000000  0.005070
3  chr1  3000000   4000000  0.004293
4  chr1  4000000   5000000  0.004339
5  chr1  5000000   6000000  0.003502
6  chr1  6000000   7000000  0.002914
7  chr1  7000000   8000000  0.003173
8  chr1  8000000   9000000  0.002981
9  chr1  9000000  10000000  0.003161

In [12]:
#the pixels are not normalized, just raw counts
cool.pixels()[:10]

   bin1_id  bin2_id  count
0        0        0  16844
1        0        1   3148
2        0        2    332
3        0        3    228
4        0        4    128
5        0        5    128
6        0        6    186
7        0        7    138
8        0        8    136
9        0        9    136

In [14]:

import cooltools as ct

In [15]:
import h5py
import numpy as np
import cooler

In [16]:

# Load the .cool file
c = cooler.Cooler(in_dir + mcool_file + "::resolutions/" + str(res))

# Get the raw matrix
raw_matrix = c.matrix()[:]

In [18]:
raw_matrix[0:1,0:10]

array([[0.13845873, 0.03824411, 0.00482638, 0.00280631, 0.00159242,
        0.00128501, 0.00155412, 0.00125538, 0.00116219, 0.00123267]])

In [20]:
import cooltools as ct

In [ ]:
ct.