Martin Loza

24/01/06

I am trying to track down a bug that causes a weird vizualization of the average data. The average data amd the bins look kind of looks OK, then, now I want to confirm that I am creating cool files correctly.

In [1]:
# Init libraries
import pandas as pd
import cooler

# Global variables
in_cool = "/mnt/c/Users/Marti/Documents/Projects/HK_Interactions/Data/HiC/4DN_portal/average/03_cool/"
in_mcool = "/mnt/c/Users/Marti/Documents/Projects/HK_Interactions/Data/HiC/4DN_portal/average/04_mcool/"
out_dir = "/mnt/c/Users/Marti/Documents/Projects/HK_Interactions/Data/HiC/4DN_portal/average/tests/"
in_average = "/mnt/c/Users/Marti/Documents/Projects/HK_Interactions/Data/HiC/4DN_portal/average/01_bedpe/"
date = "240106"

# Local functions

I created a mcool file. Let's test it

In [ ]:
# Test all the cool files
# resolutions=['2000', '5000','10000','25000','50000','100000','250000','500000','1000000']
resolutions=['1000000']

# For each resolution 
for res in resolutions:

    print("Analysing resolution:" + str(res))
    # Open the cool files
    cool_data = cooler.Cooler(in_mcool + "average.mcool::resolutions/" + str(res))
    #get the pixels in the form of matrix 
    matrix = cool_data.matrix(balance=False, as_pixels=True, join=True)[:]

    # Open the original average files
    average = pd.read_csv(in_average + "average_matrix_" + str(res) + ".bed", sep="\t", header=None)

    # Compare the two matrices
    print("Number of rows of average matrix")
    #number of rows of matrix
    print(len(matrix["count"]))
    # Compare number of rows in the two matrices
    print("Same number of rows?")
    print(len(matrix["count"]) == len(average.loc[:,6]))
    # Number of identical rows
    print("Number or identical rows (averagan and counts) from both columns")
    print(sum(matrix["count"] == average.loc[:,6]))
    # Check the maximum value
    print("Max value of cool file:")
    print(matrix['count'].max())
    print("Max value of bedpe file:")
    print(average.loc[:,6].max())

In [5]:
cool_data = cooler.Cooler(in_mcool + "average.mcool::resolutions/" + str(resolutions[0]))
matrix = cool_data.matrix(balance=False, as_pixels=True, join=True)[:]
average = pd.read_csv(in_average + "average_matrix_" + str(resolutions[0]) + ".bed", sep="\t", header=None)

In [6]:
matrix[:]

     chrom1     start1       end1 chrom2     start2       end2        count
0      chr1          0    1000000   chr1          0    1000000   852.181824
1      chr1          0    1000000   chr1    1000000    2000000     1.884250
2      chr1          0    1000000   chr1  224000000  225000000     1.121903
3      chr1    1000000    2000000   chr1    1000000    2000000  4615.614072
4      chr1    1000000    2000000   chr1    2000000    3000000    10.048505
...     ...        ...        ...    ...        ...        ...          ...
5692   chrX  153000000  154000000   chrX  153000000  154000000  3196.713209
5693   chrX  153000000  154000000   chrX  154000000  155000000     3.962541
5694   chrX  154000000  155000000   chrX  154000000  155000000  2545.078335
5695   chrX  154000000  155000000   chrX  155000000  156000000     5.778131
5696   chrX  155000000  156000000   chrX  155000000  156000000  2429.738802

[5697 rows x 7 columns]

In [7]:
average[:]

           0          1          2     3          4          5          6
0       chr1          0    1000000  chr1          0    1000000  -7.263740
1       chr1          0    1000000  chr1    1000000    2000000  -7.645045
2       chr1          0    1000000  chr1    2000000    3000000  -7.882328
3       chr1          0    1000000  chr1    3000000    4000000  -7.931073
4       chr1          0    1000000  chr1    4000000    5000000  -8.012713
...      ...        ...        ...   ...        ...        ...        ...
215992  chrX  154000000  155000000  chrX  155000000  156000000   2.993454
215993  chrX  154000000  155000000  chrX  156000000  156040895 -10.000000
215994  chrX  155000000  156000000  chrX  155000000  156000000   5.168480
215995  chrX  155000000  156000000  chrX  156000000  156040895 -10.000000
215996  chrX  156000000  156040895  chrX  156000000  156040895 -10.000000

[215997 rows x 7 columns]

I created cool files for testing, let's load them.

In [36]:
# Test all the cool files
resolutions=['2000', '5000','10000','25000','50000','100000','250000','500000','1000000']
# resolutions=['1000000']

# For each resolution 
for res in resolutions:

    print("Analysing resolution:" + str(res))
    # Open the cool files
    cool_data = cooler.Cooler(in_cool + str(res) + ".cool")
    #get the pixels in the form of matrix 
    matrix = cool_data.matrix(balance=False, as_pixels=True, join=True)[:]

    # Open the original average files
    average = pd.read_csv(in_average + "average_matrix_" + str(res) + ".bed", sep="\t", header=None)

    # Compare the two matrices
    print("Number of rows of average matrix")
    #number of rows of matrix
    print(len(matrix["count"]))
    # Compare number of rows in the two matrices
    print("Same number of rows?")
    print(len(matrix["count"]) == len(average.loc[:,6]))
    # Number of identical rows
    print("Number or identical rows (averagan and counts) from both columns")
    print(sum(matrix["count"] == average.loc[:,6]))
    # Check the maximum value
    print("Max value of cool file:")
    print(matrix['count'].max())
    print("Max value of bedpe file:")
    print(average.loc[:,6].max())

Analysing resolution:2000
Number of rows of average matrix
3386411
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
3386411
Max value of cool file:
6.313730693052552
Max value of bedpe file:
6.313730693052552
Analysing resolution:5000
Number of rows of average matrix
2064337
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
2064334
Max value of cool file:
7.005074885070937
Max value of bedpe file:
7.005074885070937
Analysing resolution:10000
Number of rows of average matrix
1776304
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
1776294
Max value of cool file:
7.741162145509779
Max value of bedpe file:
7.741162145509779
Analysing resolution:25000
Number of rows of average matrix
1382851
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
1382832
Max value of cool file:
8.506156438276124
Max value of bedpe file:
8.506156438276124
Analysing resolution:50000
Number of rows of average matrix
1006431
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
1006410
Max value of cool file:
8.885087143926626
Max value of bedpe file:
8.885087143926626
Analysing resolution:100000
Number of rows of average matrix
975648
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
975618
Max value of cool file:
9.071260525879936
Max value of bedpe file:
9.071260525879936
Analysing resolution:250000
Number of rows of average matrix
78306
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
78306
Max value of cool file:
8.382941310259467
Max value of bedpe file:
8.382941310259467
Analysing resolution:500000
Number of rows of average matrix
725879
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
725821
Max value of cool file:
7.619399994157806
Max value of bedpe file:
7.619399994157806
Analysing resolution:1000000
Number of rows of average matrix
215997
Same number of rows?
True
Number or identical rows (averagan and counts) from both columns
215997
Max value of cool file:
6.998270973190568
Max value of bedpe file:
6.998270973190568

In [20]:
#test resolutions
resolutions = ['250000']

# Load the mcool file for the resolution. We can use any cell type, since the bin information is the same for all of them.
cool_data = cooler.Cooler(in_dir + str(resolutions[0]) + ".cool")

In [21]:
#get the pixels in the form of matrix 
matrix = cool_data.matrix(balance=False, as_pixels=True, join=True)[:]

In [22]:
# Load the average matrix
average = pd.read_csv(in_average + "average_matrix_" + str(resolutions[0]) + ".bed", sep="\t", header=None)

In [23]:
matrix[:]

      chrom1    start1      end1 chrom2     start2       end2      count
0       chr1         0    250000   chr1          0     250000 -10.000000
1       chr1         0    250000   chr1  248750000  248956422 -10.000000
2       chr1    250000    500000   chr1     250000     500000 -10.000000
3       chr1    500000    750000   chr1     500000     750000 -10.000000
4       chr1    500000    750000   chr1     750000    1000000 -10.000000
...      ...       ...       ...    ...        ...        ...        ...
78301   chr1  70000000  70250000   chr1  166500000  166750000  -0.422161
78302   chr1  70000000  70250000   chr1  166750000  167000000  -0.614935
78303   chr1  70000000  70250000   chr1  167250000  167500000  -0.643286
78304   chr1  70000000  70250000   chr1  168000000  168250000  -0.225789
78305   chr1  70000000  70250000   chr1  169000000  169250000  -0.590971

[78306 rows x 7 columns]

In [24]:
average[:]

          0         1         2     3          4          5          6
0      chr1         0    250000  chr1          0     250000 -10.000000
1      chr1         0    250000  chr1  248750000  248956422 -10.000000
2      chr1    250000    500000  chr1     250000     500000 -10.000000
3      chr1    500000    750000  chr1     500000     750000 -10.000000
4      chr1    500000    750000  chr1     750000    1000000 -10.000000
...     ...       ...       ...   ...        ...        ...        ...
78301  chr1  70000000  70250000  chr1  166500000  166750000  -0.422161
78302  chr1  70000000  70250000  chr1  166750000  167000000  -0.614935
78303  chr1  70000000  70250000  chr1  167250000  167500000  -0.643286
78304  chr1  70000000  70250000  chr1  168000000  168250000  -0.225789
78305  chr1  70000000  70250000  chr1  169000000  169250000  -0.590971

[78306 rows x 7 columns]

In [25]:
# Compare the two matrices
print(sum(matrix["count"] == average.loc[:,6]))

# Compare number of rows in the two matrices
len(matrix["count"]) == len(average.loc[:,6])

78306

True

They look OK. Let's try with other resolutions